body{
  font-family: sans-serif;
  background-color: #BFB5AA;
  margin: 0;
  padding: 0;
}

/*General header style*/
.gHeader{
  background-color: #B0D347;
/*  border-radius: 10px 10px 0 0;*/
  display: flex;
  height: 88px;
/*  margin-left: 50px;
  margin-right: 50px;*/
}
.SiteH {
  margin:auto 15px;
  padding: 5px 0px;
}
.logo{

  width: 160px;
}
/*General menu style*/
.gMenu{
  align-items: center;
  list-style: none;
  display: flex;
  margin: 16px;
  padding:0;
}
.gMenu_list {
  padding: 16px 15px;
}
.gM_li_elem {
  font-size: 20px;
  font-weight: bold;
}

/*Base content style*/
.cSite{
  padding:16px 0;
  margin: 20px 50px;
  background-color: #EDEDED;

  /*border-radius: 0 0 10px 10px;*/

}
.cSite h2{
  text-align: center;
}

.content{
  margin: 0 150px;
}

.inform{
  text-align: center;
  background-color: #0E0C06;
  padding: 30px;
  color: #F1F3F9;
}

/*Table style*/
.gTable{
  background-color:#CFDAE4;
  font-size: 20px;
  border-collapse: collapse;
}

.gTable th {
  background-color: #7797BE;
}

.gTable td,th{
  border: 2px solid;
  padding: 20px;
}

/*Style all elem*/
a {
  color: #000000;
  text-decoration:none;
}

a:hover{
  color:#916334;
}

/*example style*/
.example{
  width: 175px;
  height: auto;
  border: 2px dashed;
  margin-left: 150px
}
.example p{
  margin: 0 10px;
}


/*Style prog color*/
.logic{
  color: blue
}

.inp{
  color:green
}
/*Animate*/
