.cont{
  display: flex;
  margin:0 25px;
  align-items: center;
}

.arContBlok {
  border-radius: 5px;
  margin: 0 5px;
  background-color: red;
  width: 300px;
  height: 300px;
}

.contPy {
  border: solid 6px #AFCBE4;
  background-color: #AFCBE4;
}

.iconProg{
  width: 300px;
  height: 300px;
}
